**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!turbo.json
!LICENSE
!packages/
!packages/**/
!packages/**/package.json
!packages/**/tsconfig.json
!packages/**/src/**/*.ts
!packages/**/test/**/*.ts
!services/
!services/identity/
!services/identity/**/
!services/identity/package.json
!services/identity/tsconfig.json
!services/identity/src/**/*.ts
!services/identity/test/**/*.ts
!infra/
!infra/docker/
!infra/docker/identity.Dockerfile
**/node_modules/**
**/dist/**
**/.git/**
**/.turbo/**
**/.env*
**/*.pem
**/*.key
**/*.tsbuildinfo
