**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!turbo.json
!LICENSE
!packages/
!packages/**/
!packages/**/package.json
!packages/**/tsconfig.json
!packages/**/src/**/*.ts
!packages/**/test/**/*.ts
!services/
!services/identity/
!services/identity/**/
!services/identity/package.json
!services/identity/tsconfig.json
!services/identity/src/**/*.ts
!services/identity/test/**/*.ts
!services/identity/migrations/*.sql
!services/catalog/
!services/catalog/**/
!services/catalog/package.json
!services/catalog/tsconfig.json
!services/catalog/src/**/*.ts
!services/catalog/test/**/*.ts
!services/catalog/migrations/*.sql
!infra/
!infra/docker/
!infra/docker/identity.Dockerfile
!infra/docker/catalog.Dockerfile
!infra/docker/media-fixture.Dockerfile
!infra/docker/collector.Dockerfile
!infra/docker/prometheus.Dockerfile
!infra/docker/router.Dockerfile
!infra/docker/router-trust.Dockerfile
!infra/router/
!infra/router/router.yaml
!infra/router/main.rhai
!infra/router/init-trust.mjs
!infra/router/LICENSE-APOLLO-ROUTER
!infra/router/generated/
!infra/router/generated/supergraph.graphql
!infra/compose/
!infra/compose/collector.integration.yml
!infra/compose/prometheus.local.yml
!tools/
!tools/media/
!tools/media/*.mjs
**/node_modules/**
**/dist/**
**/.git/**
**/.turbo/**
**/.env*
**/*.pem
**/*.key
**/*.tsbuildinfo
